<%= render 'layouts/accessoriesWishListSideBar' %>

<div class="container inventory-games" style="position: static">
    <% 
        if (params.has_key?(:console_id))
            provide(:title, 'All your wished for ' + params[:console_id] + ' accessories') 
        else
            provide(:title, 'Your Accessories Wish List') 
        end
    %>

    <table class="games-table">
        <% @game.each do |game| %>
            <tr>
                <td></td>
                <td class="game-title" id="game_info">
                    <%= link_to truncate(game.accessories.eng_title), accessories_wish_list_path(game.id) %>
                </td>
                <td class="game-console" id="console_info">
                    <%= link_to truncate(game.accessories.console_general.eng_name, :length => 22), console_general_path(game.accessories.console_general.id) %>
                </td>
                <td class="game-region" id="region_info">
                    <%= link_to game.accessories.region.region_title, region_path(game.accessories.region.region_id) %>
                </td>
            </tr>
        <% end %>
    </table>
</div>
