<% provide(:title, @region.region_title) %>

<h1 class="game_title"><%= @region.region_title %></h1>

<h6 class="game_title"><%= @region.region_country %></h6>

<% if signed_in? %>    
<% if admin? %>

<%= link_to "Edit Region Info", edit_region_path, class: "span2 btn btn-small btn-inverse offset2" %>

<%= link_to "Remove Region", @region , class: "span2 btn btn-inverse btn-small", confirm: "Really? Delete this region?", method: "delete" %>

<% end %>
<% end %>
