<%= render 'layouts/gamesWishListSideBar' %>

<% 
if (params.has_key?(:console_id))
provide(:title, 'All your ' + params[:console_id] + ' games') 

else
provide(:title, 'All Games In Your Collection') 

end

%>
<div class="container inventory_games" style="background-color: white; padding-top: 60px;">
<table class="game_table_info">
<% @game.each do |game| %>

<tr height="50px">
 <td>
    </td>

    <td id="game_info">
      <%= link_to game.games.eng_title, games_wish_list_path(game.id) %>

    </td>

    <td id="console_info">
      <%= link_to game.games.console_general.eng_name, console_general_path(game.games.console_general.id) %>
    </td>

    <td id="region_info">
      <%= link_to game.games.region.region_title, region_path(game.games.region.region_id) %>
    </td>

</tr>
<% end %>

</table>
</div>
