<% if @console.errors.any? %>
  <div id="error_explanation" style="margin-bottom: -100px">
    <div class="alert alert-error">
      The form contains <%= pluralize(@console.errors.count, "error") %>.
    </div>
    <ul>
    <% @console.errors.full_messages.each do |msg| %>
      <li>* <%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
