<% provide(:title, @console_games.first.console_general.eng_name) %>

<%= link_to "Can't find a game?", new_game_path, class: "pull-right" %>

<div class="browse_list" id="game_info">
<ul>
  <% @console_games.each do |game|
%>

<li><%= link_to game.eng_title, current_game(game)
%> </li>

<% end
%>

</ul>
</div>
