<% provide(:title, @console_name.eng_name) %>

<% if signed_in? %>
<%= link_to "Can't find a game?", new_game_path, class: "top-link" %>
<% end %>

<h1 class="centered-header"><%= params[:id] %> Games</h1>

<div class="browse-list" id="game_info">
<ul>
  <% @console_games.each do |game|
%>
<%# TODO: Responsive should make this list a single column %>
<li><%= link_to game.eng_title, current_game(game) %> <span class="small-region-title"><%= game.region.region_title %></span> </li>

<% end
%>

</ul>
</div>
