<% provide(:title, @console_name.eng_name) %>

<% if signed_in? %>
<%= link_to "Can't find a console?", new_console_path, class: "top-link" %>
<% end %>

<h1 class="centered-header"><%= params[:id] %> Consoles</h1>

<div class="browse_list" id="game_info">
<ul>
  <% @console_games.each do |game| %>

<li><%= link_to game.eng_name, current_console(game) %> <span style="font-size: 10px"><%= game.region.region_title %></span> </li>

<% end %>

</ul>
</div>
