<% 
if (params.has_key?(:console_id))
provide(:title, 'All your ' + params[:console_id] + ' games') 

else
provide(:title, 'All Games In Your Collection') 

end

%>

<table class="">
<% @ownership.each do |game| %>

<tr>
 <td class="">
<%= # game.games.image
%>
    </td>

    <td id="game_info">
      <%= link_to game.games.eng_title, ownership_game(game.games.id)
	  # ownership_game(game.games.id)
	  %>
    </td>

    <td id="console_info">
      <%= game.games.console_general.eng_name
	  %>
    </td>

    <td id="region_info">
      <%= game.games.region.region_title 
%>
    </td>

</tr>
<% end 
%>

<table>
