
<h1 style="text-align: center; font-family: Arial Black; margin-top: 15%">OOUG</h1>




<div id="About" class="textcenter">
  <h3>About This Project</h3>
</div>

  <!--this section is more for explanation of the site in general-->
<p class="indent">I am creating this website to allow
  visitors who enjoy games to see games they've never heard of.There are games that exist that gamers in our part of the world
  have never heard of. For example: <span style="font-family: arial"><em>Clock tower</em>, <em>Reiselied</em>, etc. These games are
  wonderful, but have a tiny audience. I hope to share the existence of
  these games. I hope you will be able to find something new from this
  website and grow further in your search for entertaining games.</p>

<div class="textcenter" id="About">
<h3>More Specifically</h3>
</div>
  <!--this section will be a more detailed explanation of the site-->
  <p class="indent">This site is partially an encycopedia, I plan to include as much
  unknown information about the games on this site, even if the game
  is known. There is a lot of information that is lost in
  translation. I desire to bring this information into view. Information like this is
  not known by the common public, this is what I want people to gain
  from this site.</p>
