    <div class="textcenter" style="margin-top: 15%">
      <h1>Contact</h1>
      <h4>By Email</h4>
      <p>Any questions about games or this amazing website can be sent to 
	<a href="mailto:spenser.roark@gmail.com">spenser.roark@gmail.com</a>.</p>
    </div>
