<% provide(:title, "Forgot Password") %>
<div class="row">
  <div class="span4 offset2">

    <h1 style="text-align: center">Reset Password</h1>

    <%= form_for(:session, url: sessions_path) do |f| %>
    <%= f.label :email, class: "col-sm-2 control-label", style: "padding-right: 5px"%>
    <%= f.text_field :email, placeholder: "name@domain.tld"%>
    <br />
    <%= f.submit "Reset Password", class: "btn btn-sm" %>
    <% end %>

  </div>
</div>

