
<h1 style="text-align: center; font-family: Arial Black; margin-top: 15%">OOUG</h1>

<div id="FAQ" class="textcenter">
	<h3>Game FAQs</h3>
</div>

<div class="row">
	<div class="span4 collapse-group">
		<p class="collapse" id="viewdetails">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
<p><a class="btn" data-toggle="collapse" data-target="#viewdetails">UPC</a></p>	</div>
</div>

<div id="FAQ" class="textcenter">
	<h3>Accessory FAQs</h3>
</div>

<ul>
	<li class="help-link"><a href="#">UPC/EAN/JAN</a></li>
</ul>

<div id="FAQ" class="textcenter">
	<h3>Console FAQs</h3>
</div>

<ul>
	<li class="help-link"><a href="#">UPC/EAN/JAN</a></li>
</ul>
