
<h1 style="text-align: center; font-family: Arial Black; margin-top: 15%">OOUG</h1>

<div id="FAQ" class="textcenter">
  <h3>Game FAQs</h3>
</div>

<ul>
<li class="help-link"><a href="#unique-numbers">UPC/EAN/JAN</a></li>
</ul>
<div id="FAQ" class="textcenter">
  <h3>Accessory FAQs</h3>
</div>

<ul>
<li class="help-link"><a href="#unique-numbers">UPC/EAN/JAN</a></li>
</ul>

<div id="FAQ" class="textcenter">
  <h3>Console FAQs</h3>
</div>

<ul>
<li class="help-link"><a href="unique-numbers">UPC/EAN/JAN</a></li>
</ul>

<div id="unique-numbers" style="margin-top: 500px;"></div>
<p>Test</p>