<h1 style="text-align: center; font-family: Arial Black; margin-top: 15%">OOUG</h1>


<form class="navbar-form navbar-left" role="search" style="text-align: center">
   <div class="input-prepend">
<span class="icon-search"></span>  
<input type="text" class="span2 search-query" placeholder="Search for a game">
</div>
</form>

<!-- <%= link_to('poop', 'inventory/home') %>-->

<p style="text-align: center; font-family: arial;">
  We collect games, because we love games
</p>
