// Place all the styles related to the Accessories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body
{
margin-bottom: 100px;
}

.accessory_title
{
text-align: center;
font-family: "Lucida Grande", "Georgia", "Arial";
}

.game_title
{
text-align: center;
font-family: "Lucida Grande", "Georgia", "Arial";
}

.edit-body {
	margin-top: 50px;
}