// Place all the styles related to the browse_consoles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.browse_list ul
{
	list-style: none outside none;
	columns: 2;
	 -webkit-columns: 2;
  	 -moz-columns: 2;
}

.browse_list ul li {
font-size: 16px;
paddint-top: 10px;
}