// Place all the styles related to the Consoles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.console_title
{
text-align: center;
font-family: "Lucida Grande", "Georgia", "Arial";
}

.game_title
{
text-align: center;
font-family: "Lucida Grande", "Georgia", "Arial";
}
