// Place all the styles related to the Inventory controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sidebar {
    color: #CCCCCC;
    background: none repeat scroll 0 0 #1E1E1E;
    height: 37.5rem;
    overflow: auto;
    right: 0;
    top: 0;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 5%;

    & .console-filters {
        height: 100%;
        position: relative;

        & ul {
        list-style: none outside none;
            & li {
                padding-top: 8px;
                & a {
                    color: #999999;
                    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
                    &:hover {
                        color: #FFFFFF;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}



#game_info a, #console_info a, #region_info a
{
	text-decoration: none;
	color: black;
	line-height: 2;
	font-family: "Courier New", Courier, monospace;
    &:hover {
        font-weight: bold;
    }
}

.inventory_games {
    max-width: 750px;
    background-color: white;
    padding-top: 60px;
}

#game_info {
    width: 75%;
}

#console_info {
width: 60%;
}

div#order {
	text-align: center;
	font-family: "Courier New", Courier, monospace;
    & span {
        font-size: 16px;
    }
    & a {
        margin-right: 5px;
    }
}