<h1 class="centered-header">DB Statistics</h1>

<p id="game_info">
Number of games in the database: <%= @game_count %> <br />
number of consoles in the database: <%= @console_count %> <br />
Number of accessories in the database: <%= @accessory_count %> <br />
</p>
