<%= render layout: 'layouts/wishListSideBar' do %>
    <li><%= link_to "All Accessories",  wish_list_accessories_path %></li>
    <% @gameConsoles.each do |game| %>
        <li><%= link_to game, wish_list_accessories_path + '/' + game %> </li>
    <% end %>
<% end %>