<li id="fat-menu" class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    Browse <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li><%= link_to "Browse Games",    browse_index_path %></li>
    <li><%= link_to "Browse Consoles",    browse_consoles_path %></li>
  </ul>

