<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
        <div class="container" style="max-width: 750px">
            <nav>
                <%= render 'layouts/generalHeaderLinks' %>
                <ul class="nav pull-right">
                    <li>
                        <%= render 'layouts/headerAccountLinks' %>
                    </li>
                    <li>
                        <%= render 'layouts/headerSearchBar' %>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
