<% if (!@ownership.empty?) %>
    <div class="sidebar pull-right">
        <div class="console-filters">
            <div class="content .navbar-inverse">
                <div class="console-filter-explanation">Select to filter by console:</div>
                <ul>
                    <%= yield %>
                </ul>
            </div>
        </div>
    </div>
<% end %>