<%= render layout: 'layouts/inventorySideBar' do %>
    <% if (!@ownership.empty?) %>
        <li><%= link_to "All Accessories",  inventory_accessories_path(current_user) %></li>
        <% @accessoryConsoles.each do |game| %>
            <li><%= link_to game, inventory_accessory_path(current_user, game) %> </li>
        <% end %>
    <% end %>
<% end %>
