
<div class="sidebar pull-right" style="">
  <div class="sideConsole">

<div class="content .navbar-inverse">
  <%= # link_to (gravatar_for @user), '#' 
%>
<ul>
<li><%= link_to "All Conosoles",  inventory_consoles_path(current_user) %></li>

  <% @consoleConsoles.each do |game| 
%>

<li><%= link_to game, inventory_consoles_path(current_user) + '/' + game %> </li>

<% end
%>

</ul>
</div>  
</div>
</div>
