<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
        <div class="container" style="max-width: 750px">
            <nav>
                <%= render 'layouts/mainPageHeaderLinks' %>
                <ul class="nav pull-right">
                    <%= render 'layouts/headerAccountLinks' %>
                </ul>
            </nav>
        </div>
    </div>
</header>
