      <footer class="navbar navbar-fixed-bottom navbar-inverse">
	<div class="navbar-inner">
	  <div class="container" style="max-width: 750px">
	    <nav>
              <ul class="nav pull-left">
		<li><%= link_to "www.ooug.net",   root_path %></li>
	      </ul>
	      <ul class="nav pull-right">
		<li><span style="color: #555555">Domain Thankfully hosted by:</span> <%= link_to 'Free DNS', 'http://freedns.afraid.org' %></li>
	      </ul>
	    </nav>
	  </div>
	</div>
      </footer>
